# configs/lightning_module/mean_teacher.yaml
name: mean_teacher
init:
  _target_: src.lightning_modules.mean_teacher.MeanTeacherModule
  learning_rate: 5e-5
  warmup_epochs: 75
  cosine_period_ratio: 0.5
  compile: false
  weights: null
  optimizer: adamw
  weight_decay: 1e-3
  nesterov: true
  momentum: 0.9
  loss_weights: null
  ema_decay: 0.999
  consistency_rampup_epochs: 10
  max_consistency_weight: 0.5
  validate_features: true

 
