# configs/lightning_module/baseline.yaml
init:
  _target_: src.lightning_modules.mean_teacher.MeanTeacherModule
  learning_rate: 0.0005
  warmup_epochs: 500
  cosine_period_ratio: 0.5
  compile: false
  weights: null
  optimizer: adamw
  weight_decay: 1e-4
  nesterov: true
  momentum: 0.9
  loss_weights: null
  ema_decay: 0.99
  consistency_rampup_epochs: 5
  max_consistency_weight: 1.0
 
