# configs/baseline_config.yaml

defaults:
  - dataset: moleculenet  # Options: moleculenet, ogbg
  - model: ginev2  # Options: gine
  - lightning_module: baseline
  - trainer: default
  - logger: wandb
  - _self_  

# General settings
seed: 42
force_deterministic: true

#   # Experiments:
#   # [0.72, 0.08, 0.1, 0.1] x 
#   # [0.65, 0.15, 0.1, 0.1] x 
#   # [0.50, 0.30, 0.1, 0.1] x 
#   # [0.30, 0.50, 0.1, 0.1]

dataset:
  init:
    name: "pcba"
    splits: [0.4, 0.4, 0.1, 0.1]
    mode: "supervised"
    batch_size_train: 16


# Hydra configuration 
hydra:
  run:
    dir: ${oc.env:LOGS_DIR}/hydra/${now:%Y-%m-%d}/${now:%H-%M-%S}
  sweep:
    dir: ${oc.env:LOGS_DIR}/multirun/${now:%Y-%m-%d}/${now:%H-%M-%S}
    subdir: ${hydra.job.num}