# configs/baseline_config.yaml

defaults:
  - dataset: qm9  # Options: qm9, moleculenet
  - model: gnn  # Options: gin, gcn, gnn
  - lightning_module: baseline
  - trainer: default
  - logger: wandb
  - _self_  

# General settings
seed: 42
force_deterministic: true

# Hydra configuration 
hydra:
  run:
    dir: ${oc.env:LOGS_DIR}/hydra/${now:%Y-%m-%d}/${now:%H-%M-%S}
  sweep:
    dir: ${oc.env:LOGS_DIR}/multirun/${now:%Y-%m-%d}/${now:%H-%M-%S}
    subdir: ${hydra.job.num}